@model IEnumerable<VrrrRent.Models.Vehicle>

@{
    ViewData["Title"] = "Collection of vehicles";
}

<h1>Collection of Vehicles</h1>

<p>
    <a asp-action="Create"><img src="~/img/create.png" style="width:5%;" class="rounded float-left" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            @if (User.IsInRole("Administrator"))
            {
                <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><img src="~/img/edit.png"  style="width:5%;"class="rounded float-left" /></a> <div></div>
                <a asp-action="Details" asp-route-id="@item.ID"><img src="~/img/details.png" style="width:5%;" class="rounded float-left" /></a> <div></div>
                <a asp-action="Delete" asp-route-id="@item.ID"><img src="~/img/delete.png" style="width:5%;" class="rounded float-left" /></a> <div></div>
                </td>
            }
        </tr>
}
    </tbody>
</table>
